<div class="wrapper">
  <div class="row">
    <div class="col-8 menu">
      <div class="logo">
        <span class="name">
          .voteo
        </span>
      </div>

      <span class="item">{{'header.profile' | translate}}</span>
      <span class="item">{{'header.contactList' | translate}}</span>
      <span class="item">{{'header.about' | translate}}<span class="gold">{{'header.title' | translate}}</span></span>
    </div>

    <div class="col-4">
      <div class="user">
        <span class="gold">Kamil bitcoach</span>
        <span class="address">{{address}}</span>
      </div>
    </div>
  </div>
</div>
