
  <app-new-question-page *ngIf="!waitingValidation; else summary"
                         [question]="currentQuestion"
                         [numberOfQuestions]="numberOfQuestions"
                         [currentQuestionIndex]="currentIndex"
                         (afterNextQuestionPressed)="setNextQuestion($event)"
                         (afterPreviousQuestionPressed)="setPreviousQuestion($event)"
                         (afterClickOnRemove)="removeCurrentQuestion($event)"
                         (onSubmit)="continueToSummary($event)"></app-new-question-page>

  <ng-template #summary>
    <app-pool-summary *ngIf="waitingValidation"
                      [pool]="pool"
                      (onSubmitPressed)="createPool()"
                      (onBackPressed)="goToEdit()"></app-pool-summary>
  </ng-template>
