@import '../../../lib/styles/colors';

:host {
  display: block;
  position: relative;
}

.action {
  padding: 0 !important;
  transition: all .4s;
}

.actions {
  margin: 50px 0px 0px 20px;
}

.create {
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: $color-bitcoach-blue;
    text-decoration: underline;
  }
}
