<div class="header">{{'pools.newPool' | translate}}</div>
<div class="title voteo-bold">{{'pools.summary' | translate}}</div>
<div class="voteo-table">
  <div class="voteo-row">
    <span class="column key">{{'pools.create.name' | translate}}</span>
    <span class="column value">{{name}}</span>
  </div>
  <div class="voteo-row">
    <span class="column key">{{'pools.create.openEnded' | translate}}</span>
    <span class="column value">{{openEnded}}</span>
  </div>
  <div class="voteo-row">
    <span class="column key">{{'pools.create.multiple' | translate}}</span>
    <span class="column value">{{multiple}}</span>
  </div>
  <div *ngFor="let option of options; let i=index" class="voteo-row">
    <span class="column key">{{'pools.create.option' | translate}} {{i}}</span>
    <span class="column value">{{option.label}}</span>
  </div>
</div>

<div class="button-wrapper">
  <button (click)="back()" class="voteo-button">{{'actions.back' | translate}}</button>
  <button (click)="submit()" class="voteo-button">{{'actions.submit' | translate}}</button>
</div>
