@import '../../../lib/styles/colors';

.question-name {
  width: 100%;
}

form {
  margin: 0px 20px 10px 20px;
}

mat-slide-toggle {
  font-size: 14px;
  color: $color-bitcoach-blue;
}

.wrapper {
  margin: 0px 20px;
}
.parameters {
  .param {
    padding: 10px 30px;
  }
  .label {
    padding-left: 10px;
  }
}

.option {
  display: flex;
  padding-bottom: 5px;

  .label {
    font-size: 12px;
    width: 15%;
    margin: auto;
  }
  input {
    width: 85%;
  }
}

.submit {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;

  button {
    margin: 5px;
  }
}

.add-option {
  font-size: 12px;
}

.left {
  font-size:32px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.right {
  font-size:32px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.content {
  position: relative;
}

