@import '../../../lib/styles/colors';

.question-name {
  width: 100%;
}

form {
  margin: 0px 20px 10px 20px;
}

mat-slide-toggle {
  font-size: 14px;
  color: $color-bitcoach-blue;
}

.parameters {
  .param {
    padding: 10px 30px;
  }
  .label {
    padding-left: 10px;
  }
}

.option {
  display: flex;
  padding-bottom: 5px;

  .label {
    font-size: 12px;
    width: 15%;
    margin: auto;
  }
  input {
    width: 85%;
  }
}

.submit {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.add-option {
  font-size: 12px;
}
